
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAiRecordLabel">Create or edit a Ai Record</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.aiRecord.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.aiRecord.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_driverId">Driver Id</label>
            <input type="number" class="form-control" name="driverId" id="field_driverId"
                    ng-model="vm.aiRecord.driverId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_vehicleId">Vehicle Id</label>
            <input type="number" class="form-control" name="vehicleId" id="field_vehicleId"
                    ng-model="vm.aiRecord.vehicleId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_companyId">Company Id</label>
            <input type="number" class="form-control" name="companyId" id="field_companyId"
                    ng-model="vm.aiRecord.companyId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_receiptNumber">Receipt Number</label>
            <input type="text" class="form-control" name="receiptNumber" id="field_receiptNumber"
                    ng-model="vm.aiRecord.receiptNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_plateNumber">Plate Number</label>
            <input type="text" class="form-control" name="plateNumber" id="field_plateNumber"
                    ng-model="vm.aiRecord.plateNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_aiDate">Ai Date</label>
            <input type="number" class="form-control" name="aiDate" id="field_aiDate"
                    ng-model="vm.aiRecord.aiDate"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nextAiDate">Next Ai Date</label>
            <input type="number" class="form-control" name="nextAiDate" id="field_nextAiDate"
                    ng-model="vm.aiRecord.nextAiDate"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_aiConductor">Ai Conductor</label>
            <input type="text" class="form-control" name="aiConductor" id="field_aiConductor"
                    ng-model="vm.aiRecord.aiConductor"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_money">Money</label>
            <input type="number" class="form-control" name="money" id="field_money"
                    ng-model="vm.aiRecord.money"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_remark">Remark</label>
            <input type="text" class="form-control" name="remark" id="field_remark"
                    ng-model="vm.aiRecord.remark"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
