<div>
    <h2>Ai Records</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="ai-record.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Ai Record
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="driverId"><span>Driver Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="vehicleId"><span>Vehicle Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="companyId"><span>Company Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="receiptNumber"><span>Receipt Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="plateNumber"><span>Plate Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="aiDate"><span>Ai Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nextAiDate"><span>Next Ai Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="aiConductor"><span>Ai Conductor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="money"><span>Money</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="remark"><span>Remark</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="aiRecord in vm.aiRecords track by aiRecord.id">
                    <td><a ui-sref="ai-record-detail({id:aiRecord.id})">{{aiRecord.id}}</a></td>
                    <td>{{aiRecord.driverId}}</td>
                    <td>{{aiRecord.vehicleId}}</td>
                    <td>{{aiRecord.companyId}}</td>
                    <td>{{aiRecord.receiptNumber}}</td>
                    <td>{{aiRecord.plateNumber}}</td>
                    <td>{{aiRecord.aiDate}}</td>
                    <td>{{aiRecord.nextAiDate}}</td>
                    <td>{{aiRecord.aiConductor}}</td>
                    <td>{{aiRecord.money}}</td>
                    <td>{{aiRecord.remark}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="ai-record-detail({id:aiRecord.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="ai-record.edit({id:aiRecord.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="ai-record.delete({id:aiRecord.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
