<div>
    <h2>Maintain Records</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="maintain-record.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Maintain Record
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="driverId"><span>Driver Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="vehicleId"><span>Vehicle Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="companyId"><span>Company Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maintainNumber"><span>Maintain Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="plateNumber"><span>Plate Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="driverName"><span>Driver Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maintainTime"><span>Maintain Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="money"><span>Money</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="repairFactory"><span>Repair Factory</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="leaveFactoryTime"><span>Leave Factory Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maintainSky"><span>Maintain Sky</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="remark"><span>Remark</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="maintainRecord in vm.maintainRecords track by maintainRecord.id">
                    <td><a ui-sref="maintain-record-detail({id:maintainRecord.id})">{{maintainRecord.id}}</a></td>
                    <td>{{maintainRecord.driverId}}</td>
                    <td>{{maintainRecord.vehicleId}}</td>
                    <td>{{maintainRecord.companyId}}</td>
                    <td>{{maintainRecord.maintainNumber}}</td>
                    <td>{{maintainRecord.plateNumber}}</td>
                    <td>{{maintainRecord.driverName}}</td>
                    <td>{{maintainRecord.maintainTime}}</td>
                    <td>{{maintainRecord.money}}</td>
                    <td>{{maintainRecord.repairFactory}}</td>
                    <td>{{maintainRecord.leaveFactoryTime}}</td>
                    <td>{{maintainRecord.maintainSky}}</td>
                    <td>{{maintainRecord.remark}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="maintain-record-detail({id:maintainRecord.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="maintain-record.edit({id:maintainRecord.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="maintain-record.delete({id:maintainRecord.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
