<div>
    <h2>Down Payments</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="down-payment.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Down Payment
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="companyId"><span>Company Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="orderId"><span>Order Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="receiptMoney"><span>Receipt Money</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="receiptWater"><span>Receipt Water</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="accountNumber"><span>Account Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="receipt"><span>Receipt</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="downPayment in vm.downPayments track by downPayment.id">
                    <td><a ui-sref="down-payment-detail({id:downPayment.id})">{{downPayment.id}}</a></td>
                    <td>{{downPayment.companyId}}</td>
                    <td>{{downPayment.orderId}}</td>
                    <td>{{downPayment.receiptMoney}}</td>
                    <td>{{downPayment.receiptWater}}</td>
                    <td>{{downPayment.accountNumber}}</td>
                    <td>{{downPayment.receipt}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="down-payment-detail({id:downPayment.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="down-payment.edit({id:downPayment.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="down-payment.delete({id:downPayment.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
