<div>
    <h2>Forced Settles</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="forced-settle.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Forced Settle
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="driverId"><span>Driver Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="vehicleId"><span>Vehicle Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="companyId"><span>Company Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="plateNumber"><span>Plate Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="driverName"><span>Driver Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="periods"><span>Periods</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sumMoney"><span>Sum Money</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="notPeriods"><span>Not Periods</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="notMoney"><span>Not Money</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="settleType"><span>Settle Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="receiptNumber"><span>Receipt Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="receiptDate"><span>Receipt Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="whetherRecycle"><span>Whether Recycle</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="remark"><span>Remark</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span>Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="forcedSettle in vm.forcedSettles track by forcedSettle.id">
                    <td><a ui-sref="forced-settle-detail({id:forcedSettle.id})">{{forcedSettle.id}}</a></td>
                    <td>{{forcedSettle.driverId}}</td>
                    <td>{{forcedSettle.vehicleId}}</td>
                    <td>{{forcedSettle.companyId}}</td>
                    <td>{{forcedSettle.plateNumber}}</td>
                    <td>{{forcedSettle.driverName}}</td>
                    <td>{{forcedSettle.periods}}</td>
                    <td>{{forcedSettle.sumMoney}}</td>
                    <td>{{forcedSettle.notPeriods}}</td>
                    <td>{{forcedSettle.notMoney}}</td>
                    <td>{{forcedSettle.settleType}}</td>
                    <td>{{forcedSettle.receiptNumber}}</td>
                    <td>{{forcedSettle.receiptDate}}</td>
                    <td>{{forcedSettle.whetherRecycle}}</td>
                    <td>{{forcedSettle.remark}}</td>
                    <td>{{forcedSettle.status}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="forced-settle-detail({id:forcedSettle.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="forced-settle.edit({id:forcedSettle.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="forced-settle.delete({id:forcedSettle.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
