
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDriverEmergencyContactLabel">Create or edit a Driver Emergency Contact</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.driverEmergencyContact.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.driverEmergencyContact.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name1">Name 1</label>
            <input type="text" class="form-control" name="name1" id="field_name1"
                    ng-model="vm.driverEmergencyContact.name1"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_residentialAddress1">Residential Address 1</label>
            <input type="text" class="form-control" name="residentialAddress1" id="field_residentialAddress1"
                    ng-model="vm.driverEmergencyContact.residentialAddress1"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_phone1">Phone 1</label>
            <input type="text" class="form-control" name="phone1" id="field_phone1"
                    ng-model="vm.driverEmergencyContact.phone1"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_relation1">Relation 1</label>
            <input type="text" class="form-control" name="relation1" id="field_relation1"
                    ng-model="vm.driverEmergencyContact.relation1"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name2">Name 2</label>
            <input type="text" class="form-control" name="name2" id="field_name2"
                    ng-model="vm.driverEmergencyContact.name2"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_residentialAddress2">Residential Address 2</label>
            <input type="text" class="form-control" name="residentialAddress2" id="field_residentialAddress2"
                    ng-model="vm.driverEmergencyContact.residentialAddress2"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_phone2">Phone 2</label>
            <input type="text" class="form-control" name="phone2" id="field_phone2"
                    ng-model="vm.driverEmergencyContact.phone2"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_relation2">Relation 2</label>
            <input type="text" class="form-control" name="relation2" id="field_relation2"
                    ng-model="vm.driverEmergencyContact.relation2"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
