
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myReceiveVehicleLabel">Create or edit a Receive Vehicle</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.receiveVehicle.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.receiveVehicle.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_vehicleId">Vehicle Id</label>
            <input type="number" class="form-control" name="vehicleId" id="field_vehicleId"
                    ng-model="vm.receiveVehicle.vehicleId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_informVehicleTime">Inform Vehicle Time</label>
            <input type="number" class="form-control" name="informVehicleTime" id="field_informVehicleTime"
                    ng-model="vm.receiveVehicle.informVehicleTime"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_informData">Inform Data</label>
            <input type="text" class="form-control" name="informData" id="field_informData"
                    ng-model="vm.receiveVehicle.informData"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_informVehicleDate">Inform Vehicle Date</label>
            <input type="number" class="form-control" name="informVehicleDate" id="field_informVehicleDate"
                    ng-model="vm.receiveVehicle.informVehicleDate"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_remark">Remark</label>
            <input type="text" class="form-control" name="remark" id="field_remark"
                    ng-model="vm.receiveVehicle.remark"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_parkWarehouse">Park Warehouse</label>
            <input type="text" class="form-control" name="parkWarehouse" id="field_parkWarehouse"
                    ng-model="vm.receiveVehicle.parkWarehouse"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_founder">Founder</label>
            <input type="text" class="form-control" name="founder" id="field_founder"
                    ng-model="vm.receiveVehicle.founder"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_founderTime">Founder Time</label>
            <input type="number" class="form-control" name="founderTime" id="field_founderTime"
                    ng-model="vm.receiveVehicle.founderTime"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_modifier">Modifier</label>
            <input type="text" class="form-control" name="modifier" id="field_modifier"
                    ng-model="vm.receiveVehicle.modifier"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_modifierTime">Modifier Time</label>
            <input type="number" class="form-control" name="modifierTime" id="field_modifierTime"
                    ng-model="vm.receiveVehicle.modifierTime"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
