<div>
    <h2>Supplier Records</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="supplier-record.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Supplier Record
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="companyId"><span>Company Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mnemonicCode"><span>Mnemonic Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="supplierStatus"><span>Supplier Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="supplierName"><span>Supplier Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="taxNumber"><span>Tax Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phone"><span>Phone</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="openBank"><span>Open Bank</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bankAccount"><span>Bank Account</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="unitAddress"><span>Unit Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contact"><span>Contact</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contactPhone"><span>Contact Phone</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="paytype"><span>Paytype</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="founder"><span>Founder</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="founderTime"><span>Founder Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="modifier"><span>Modifier</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="modifierTime"><span>Modifier Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="remark"><span>Remark</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="supplierRecord in vm.supplierRecords track by supplierRecord.id">
                    <td><a ui-sref="supplier-record-detail({id:supplierRecord.id})">{{supplierRecord.id}}</a></td>
                    <td>{{supplierRecord.companyId}}</td>
                    <td>{{supplierRecord.mnemonicCode}}</td>
                    <td>{{supplierRecord.supplierStatus}}</td>
                    <td>{{supplierRecord.supplierName}}</td>
                    <td>{{supplierRecord.taxNumber}}</td>
                    <td>{{supplierRecord.phone}}</td>
                    <td>{{supplierRecord.openBank}}</td>
                    <td>{{supplierRecord.bankAccount}}</td>
                    <td>{{supplierRecord.unitAddress}}</td>
                    <td>{{supplierRecord.contact}}</td>
                    <td>{{supplierRecord.contactPhone}}</td>
                    <td>{{supplierRecord.paytype}}</td>
                    <td>{{supplierRecord.founder}}</td>
                    <td>{{supplierRecord.founderTime}}</td>
                    <td>{{supplierRecord.modifier}}</td>
                    <td>{{supplierRecord.modifierTime}}</td>
                    <td>{{supplierRecord.remark}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="supplier-record-detail({id:supplierRecord.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="supplier-record.edit({id:supplierRecord.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="supplier-record.delete({id:supplierRecord.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
