
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPurchaseTaxLabel">Create or edit a Purchase Tax</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.purchaseTax.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.purchaseTax.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_vehicleId">Vehicle Id</label>
            <input type="number" class="form-control" name="vehicleId" id="field_vehicleId"
                    ng-model="vm.purchaseTax.vehicleId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_purchaseTaxmoney">Purchase Taxmoney</label>
            <input type="number" class="form-control" name="purchaseTaxmoney" id="field_purchaseTaxmoney"
                    ng-model="vm.purchaseTax.purchaseTaxmoney"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_remark">Remark</label>
            <input type="text" class="form-control" name="remark" id="field_remark"
                    ng-model="vm.purchaseTax.remark"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_invoicePicture">Invoice Picture</label>
            <input type="text" class="form-control" name="invoicePicture" id="field_invoicePicture"
                    ng-model="vm.purchaseTax.invoicePicture"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_purchaseTime">Purchase Time</label>
            <input type="number" class="form-control" name="purchaseTime" id="field_purchaseTime"
                    ng-model="vm.purchaseTax.purchaseTime"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_founder">Founder</label>
            <input type="text" class="form-control" name="founder" id="field_founder"
                    ng-model="vm.purchaseTax.founder"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_founderTime">Founder Time</label>
            <input type="number" class="form-control" name="founderTime" id="field_founderTime"
                    ng-model="vm.purchaseTax.founderTime"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_modifier">Modifier</label>
            <input type="text" class="form-control" name="modifier" id="field_modifier"
                    ng-model="vm.purchaseTax.modifier"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_modifierTime">Modifier Time</label>
            <input type="number" class="form-control" name="modifierTime" id="field_modifierTime"
                    ng-model="vm.purchaseTax.modifierTime"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
