
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myIllegalRecordLabel">Create or edit a Illegal Record</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.illegalRecord.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.illegalRecord.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_driverId">Driver Id</label>
            <input type="number" class="form-control" name="driverId" id="field_driverId"
                    ng-model="vm.illegalRecord.driverId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_vehicleId">Vehicle Id</label>
            <input type="number" class="form-control" name="vehicleId" id="field_vehicleId"
                    ng-model="vm.illegalRecord.vehicleId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_companyId">Company Id</label>
            <input type="number" class="form-control" name="companyId" id="field_companyId"
                    ng-model="vm.illegalRecord.companyId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_plateNumber">Plate Number</label>
            <input type="text" class="form-control" name="plateNumber" id="field_plateNumber"
                    ng-model="vm.illegalRecord.plateNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_illegalDate">Illegal Date</label>
            <input type="number" class="form-control" name="illegalDate" id="field_illegalDate"
                    ng-model="vm.illegalRecord.illegalDate"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_illegalSite">Illegal Site</label>
            <input type="text" class="form-control" name="illegalSite" id="field_illegalSite"
                    ng-model="vm.illegalRecord.illegalSite"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_detail">Detail</label>
            <input type="text" class="form-control" name="detail" id="field_detail"
                    ng-model="vm.illegalRecord.detail"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_illegalMoney">Illegal Money</label>
            <input type="number" class="form-control" name="illegalMoney" id="field_illegalMoney"
                    ng-model="vm.illegalRecord.illegalMoney"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_illegalDeduct">Illegal Deduct</label>
            <input type="number" class="form-control" name="illegalDeduct" id="field_illegalDeduct"
                    ng-model="vm.illegalRecord.illegalDeduct"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_status">Status</label>
            <input type="number" class="form-control" name="status" id="field_status"
                    ng-model="vm.illegalRecord.status"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
