<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/logo-jhipster.png" alt="logo"/>
                <span>Aicheyide</span> <span class="navbar-version">v{{VERSION}}</span>
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm">Home</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                                <a ui-sref="company-message" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Company Message</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="authorization-record" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Authorization Record</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="log" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Log</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="department" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Department</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="post" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Post</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="commodity-data" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Commodity Data</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="warehouse" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Warehouse</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="supplier-record" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Supplier Record</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="driver-mate" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Driver Mate</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="driver-message" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Driver Message</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="driver-emergency-contact" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Driver Emergency Contact</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="purchase-vehicle-record" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Purchase Vehicle Record</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="buy-vehicle-record" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Buy Vehicle Record</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="rent-vehicle-record" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Rent Vehicle Record</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="repayment-record" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Repayment Record</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="postpone-record" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Postpone Record</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="maintain-record" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Maintain Record</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="out-danger-record" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Out Danger Record</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="policy-record" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Policy Record</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="ai-record" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Ai Record</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="illegal-record" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Illegal Record</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="refund-record" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Refund Record</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="contract-margin-record" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Contract Margin Record</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="order-from" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Order From</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="credit-review" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Credit Review</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="deposit-contract" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Deposit Contract</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="additional-materials" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Additional Materials</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="marketing-plan" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Marketing Plan</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="settle-apply" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Settle Apply</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="formal-contract" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Formal Contract</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="overdue-management" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Overdue Management</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="forced-settle" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Forced Settle</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="down-payment" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Down Payment</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="please-payee-audit" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Please Payee Audit</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="monthly-management" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Monthly Management</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="overdue-gathering" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Overdue Gathering</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="rental-management" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Rental Management</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="retreat-deposit" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Retreat Deposit</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="claim-settlement-audit" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Claim Settlement Audit</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="validate-record" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Validate Record</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="gps-refit" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Gps Refit</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="gas-refit" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Gas Refit</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="purchase-tax" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Purchase Tax</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="insurance-purchase" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Insurance Purchase</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="on-brand" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >On Brand</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="receive-vehicle" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Receive Vehicle</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="data-collection" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Data Collection</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="vehicle" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Vehicle</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="log-record" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span >Log Record</span>
                                </a>
                            </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span>Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span>Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="sessions" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-cloud"></span>&nbsp;
                                <span>Sessions</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span>Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span>Sign in</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span>Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span>User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span>Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span>Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span>Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span>Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span>Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span>API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
