<div>
    <h2>Policy Records</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="policy-record.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Policy Record
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="driverId"><span>Driver Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="vehicleId"><span>Vehicle Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="companyId"><span>Company Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="receiptNumber"><span>Receipt Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="plateNumber"><span>Plate Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="viBeginDate"><span>Vi Begin Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="viFinishDate"><span>Vi Finish Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ciBeginDate"><span>Ci Begin Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ciFinishDate"><span>Ci Finish Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="remark"><span>Remark</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="policyRecord in vm.policyRecords track by policyRecord.id">
                    <td><a ui-sref="policy-record-detail({id:policyRecord.id})">{{policyRecord.id}}</a></td>
                    <td>{{policyRecord.driverId}}</td>
                    <td>{{policyRecord.vehicleId}}</td>
                    <td>{{policyRecord.companyId}}</td>
                    <td>{{policyRecord.receiptNumber}}</td>
                    <td>{{policyRecord.plateNumber}}</td>
                    <td>{{policyRecord.viBeginDate}}</td>
                    <td>{{policyRecord.viFinishDate}}</td>
                    <td>{{policyRecord.ciBeginDate}}</td>
                    <td>{{policyRecord.ciFinishDate}}</td>
                    <td>{{policyRecord.remark}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="policy-record-detail({id:policyRecord.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="policy-record.edit({id:policyRecord.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="policy-record.delete({id:policyRecord.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
