
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPolicyRecordLabel">Create or edit a Policy Record</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.policyRecord.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.policyRecord.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_driverId">Driver Id</label>
            <input type="number" class="form-control" name="driverId" id="field_driverId"
                    ng-model="vm.policyRecord.driverId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_vehicleId">Vehicle Id</label>
            <input type="number" class="form-control" name="vehicleId" id="field_vehicleId"
                    ng-model="vm.policyRecord.vehicleId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_companyId">Company Id</label>
            <input type="number" class="form-control" name="companyId" id="field_companyId"
                    ng-model="vm.policyRecord.companyId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_receiptNumber">Receipt Number</label>
            <input type="text" class="form-control" name="receiptNumber" id="field_receiptNumber"
                    ng-model="vm.policyRecord.receiptNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_plateNumber">Plate Number</label>
            <input type="text" class="form-control" name="plateNumber" id="field_plateNumber"
                    ng-model="vm.policyRecord.plateNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_viBeginDate">Vi Begin Date</label>
            <input type="number" class="form-control" name="viBeginDate" id="field_viBeginDate"
                    ng-model="vm.policyRecord.viBeginDate"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_viFinishDate">Vi Finish Date</label>
            <input type="number" class="form-control" name="viFinishDate" id="field_viFinishDate"
                    ng-model="vm.policyRecord.viFinishDate"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ciBeginDate">Ci Begin Date</label>
            <input type="number" class="form-control" name="ciBeginDate" id="field_ciBeginDate"
                    ng-model="vm.policyRecord.ciBeginDate"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ciFinishDate">Ci Finish Date</label>
            <input type="number" class="form-control" name="ciFinishDate" id="field_ciFinishDate"
                    ng-model="vm.policyRecord.ciFinishDate"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_remark">Remark</label>
            <input type="text" class="form-control" name="remark" id="field_remark"
                    ng-model="vm.policyRecord.remark"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
