
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myOverdueManagementLabel">Create or edit a Overdue Management</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.overdueManagement.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.overdueManagement.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_driverId">Driver Id</label>
            <input type="number" class="form-control" name="driverId" id="field_driverId"
                    ng-model="vm.overdueManagement.driverId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_vehicleId">Vehicle Id</label>
            <input type="number" class="form-control" name="vehicleId" id="field_vehicleId"
                    ng-model="vm.overdueManagement.vehicleId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_companyId">Company Id</label>
            <input type="number" class="form-control" name="companyId" id="field_companyId"
                    ng-model="vm.overdueManagement.companyId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_plateNumber">Plate Number</label>
            <input type="text" class="form-control" name="plateNumber" id="field_plateNumber"
                    ng-model="vm.overdueManagement.plateNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_driverName">Driver Name</label>
            <input type="text" class="form-control" name="driverName" id="field_driverName"
                    ng-model="vm.overdueManagement.driverName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_orderId">Order Id</label>
            <input type="number" class="form-control" name="orderId" id="field_orderId"
                    ng-model="vm.overdueManagement.orderId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_repaymentTime">Repayment Time</label>
            <input type="number" class="form-control" name="repaymentTime" id="field_repaymentTime"
                    ng-model="vm.overdueManagement.repaymentTime"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_money">Money</label>
            <input type="number" class="form-control" name="money" id="field_money"
                    ng-model="vm.overdueManagement.money"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_overdueData">Overdue Data</label>
            <input type="number" class="form-control" name="overdueData" id="field_overdueData"
                    ng-model="vm.overdueManagement.overdueData"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_overdueInterest">Overdue Interest</label>
            <input type="number" class="form-control" name="overdueInterest" id="field_overdueInterest"
                    ng-model="vm.overdueManagement.overdueInterest"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nextMoneyData">Next Money Data</label>
            <input type="number" class="form-control" name="nextMoneyData" id="field_nextMoneyData"
                    ng-model="vm.overdueManagement.nextMoneyData"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_postponeData">Postpone Data</label>
            <input type="number" class="form-control" name="postponeData" id="field_postponeData"
                    ng-model="vm.overdueManagement.postponeData"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_informVehicle">Inform Vehicle</label>
            <input type="text" class="form-control" name="informVehicle" id="field_informVehicle"
                    ng-model="vm.overdueManagement.informVehicle"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_recycleVehicle">Recycle Vehicle</label>
            <input type="number" class="form-control" name="recycleVehicle" id="field_recycleVehicle"
                    ng-model="vm.overdueManagement.recycleVehicle"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_remark">Remark</label>
            <input type="text" class="form-control" name="remark" id="field_remark"
                    ng-model="vm.overdueManagement.remark"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
