
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPostLabel">Create or edit a Post</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.post.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.post.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_companyId">Company Id</label>
            <input type="number" class="form-control" name="companyId" id="field_companyId"
                    ng-model="vm.post.companyId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_departmentId">Department Id</label>
            <input type="number" class="form-control" name="departmentId" id="field_departmentId"
                    ng-model="vm.post.departmentId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_postName">Post Name</label>
            <input type="text" class="form-control" name="postName" id="field_postName"
                    ng-model="vm.post.postName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_staffing">Staffing</label>
            <input type="text" class="form-control" name="staffing" id="field_staffing"
                    ng-model="vm.post.staffing"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_inEmployee">In Employee</label>
            <input type="number" class="form-control" name="inEmployee" id="field_inEmployee"
                    ng-model="vm.post.inEmployee"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fromEmployee">From Employee</label>
            <input type="number" class="form-control" name="fromEmployee" id="field_fromEmployee"
                    ng-model="vm.post.fromEmployee"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
